

.background-image
{
    background-image: url("https://i.ibb.co/3s8p2j8/1091811.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 600px;
}

